extends ./../base

block metahead
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title EnergyHouse - Услуги
block content
    include ./../../components/nav-bar/_nav-bar
    main
        section.services
            .services__bg-image
                img(src=require("./../../../assets/image/services/services-header.png"), alt="photo of houses")
            .container
                .h-wrapper
                    .services__header
                        h2 Услуги
                    .services__describe
                        p
                            | Предоставляем комплексные решения для строительных объектов любого масштаба и сложности. От строительства домов под ключ до коммерческих объектов.
                .services__content

                    .services__item
                        a(href="./wooden.html") 
                            img(src=require('./../../../assets/image/services/wooden.png') alt='1 service')
                            .services__item-header
                                h3 Деревянные дома

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/summer.png') alt='2 service')
                            .services__item-header
                                h3 Беседки

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/a-frame.png') alt='3 service')
                            .services__item-header
                                h3 А-дома

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='4 service')
                            .services__item-header
                                h3 Модульные дома

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='5 service')
                            .services__item-header
                                h3 Каркасно- <br>монолитные дома

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='6 service')
                            .services__item-header
                                h3 Каркасные дома

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='7 service')
                            .services__item-header
                                h3 Торговые центры

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='8 service')
                            .services__item-header
                                h3 Мобильные офисы

                    .services__item
                        a(href="#") 
                            img(src=require('./../../../assets/image/services/modular.png') alt='9 service')
                            .services__item-header
                                h3 Железобетонные <br> конструкции

        //- include ./../../components/promo-blog/_promo-blog
        include ./../../components/footer/_footer