extends ./../base

block metahead
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title EnergyHouse - Главная
block content
    include ./../../components/nav-bar/_nav-bar
    main 
        section.promo
            .container
                h1.promo__header СТРОИТЕЛЬСТВО ДОМОВ ПОД КЛЮЧ
                .promo__describe Реализуем полный цикл постройки современных жилых домов любого уровня сложности
                button.btn.btn_opened Консультация

            .promo__bottom
                .promo__value
                    div
                        a(href='#') Расчитать стоимость

                .promo__information
                    .promo__btn
                        button.btn.btn_smooth
                            img(src=require('./../../../assets/image/icons/phone.svg') alt='phone_icon')
                            span Консультация

                    .promo__item
                        .promo__item-text
                            div 142
                            |  Реализованых проектов
                    .promo__item
                        .promo__item-text
                            div 51
                            |  Построенных домов под ключ
                    .promo__item
                        .promo__item-text
                            div 20
                            |  Лет на рынке Украины
        section.about
            .container
                .about__wrapper
                    .about__header
                        h2 О нас
                    .about__description
                        h3 Построим дом вашей мечты
                        p
                            | «Energy World Ukraine» — строительная компания, специализирующаяся на строительных, проектных и архитектурных услугах.
                            br
                            br
                            | Предлагаем комплексное решение для строительства частных домов с нуля. Наша команда опытных профессионалов...
                        a.about__link(href='./about.html') Читать больше
                    .about__photo
        include ./../../components/benefits/_benefits
        section.steps
            .container
                .h-wrapper
                    .steps__header
                        h2 Этапы
                    .steps__describe
                        | Даты являются приблизительными и зависят от сложности проекта и наличия материалов
                .steps__item_decorize
                .steps__wrapper

                    // 1
                    .steps__item
                        .steps__num 1
                        .steps__main
                            .steps__title Консультация
                            div
                                span.steps__days
                                    | 1 день
                                    span.steps__black-rec

                            .steps__hover-item.steps__hover-item_1
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_1
                                        | Оговариваем все детали по строительству дома под ключ
                    // 2
                    .steps__item
                        .steps__num 2
                        .steps__main
                            .steps__title Подписание договора
                            div
                                span.steps__days
                                    | 1-2 дня
                                    span.steps__black-rec

                            .steps__hover-item.steps__hover-item_2
                                .steps__hover-item-inner
                                    .steps__hover-img
                                    img(src=require('./../../../assets/image/index/hover_cards/2_1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_2
                                        | Заключение всех формальностей, формирование цены, подписание договора
                    // 3
                    .steps__item
                        .steps__num 3
                        .steps__main
                            .steps__title Инспекция участка
                            div
                                span.steps__days
                                    | 1 день
                                    span.steps__black-rec
                                    
                            .steps__hover-item.steps__hover-item_3
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/3_1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_3
                                        | Определяем лучшее размещение дома на участке
                                .steps__hover-item-inner
                                    .steps__hover-img
                                    img(src=require('./../../../assets/image/index/hover_cards/3_2.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_3.steps__hover-text_withoutBefore
                                        | Анализируем существующие коммуникационные и инженерные сети
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/3_3.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_3.steps__hover-text_withoutBefore
                                        | Производим съемку и замеры участка для дальнейшей визуализации возводимых объектов
                    // 4
                    .steps__item
                        .steps__num 4
                        .steps__main
                            .steps__title  Проектирование
                            div
                                span.steps__days
                                    | 14-30 дней
                                    span.steps__black-rec
                            .steps__hover-item.steps__hover-item_4
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/4_1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_4
                                        | Разработка индивидуального проекта с учетом пожеланий клиента
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/4_2.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_4.steps__hover-text_withoutBefore
                                        | Согласование проекта во всех инстанциях
                    // 5
                    .steps__item
                        .steps__num 5
                        .steps__main
                            .steps__title Строительные работы
                            div
                                span.steps__days
                                    | 1-6 месяцев
                                    span.steps__black-rec

                            .steps__hover-item.steps__hover-item_5
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5
                                        | Подготовка участка
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_2.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Сооружение фундамента
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_3.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Возведение стен и устройство перекрытий
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_4.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Возведение перегородок и установка кровли дома
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_5.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Гидро-, тепло-, звукоизоляция
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_6.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Установка окон и дверей
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_7.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Монтаж инженерных и коммуникационных сетей
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/5_8.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_5.steps__hover-text_withoutBefore
                                        | Внутрення и внешняя отделка дома (опционально)
                    // 6
                    .steps__item(data-order='6')
                        .steps__num 6
                        .steps__main
                            .steps__title Ввод в эксплуатацию
                            div
                                span.steps__days
                                    | 7-14 дней
                                    span.steps__black-rec

                            .steps__hover-item.steps__hover-item_6
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/6_1.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_6
                                        | Уборка территории и вывоз строительного мусора
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/6_2.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_6.steps__hover-text_withoutBefore
                                        | Получение документов для эксплуатации дома
                                .steps__hover-item-inner
                                    .steps__hover-img
                                        img(src=require('./../../../assets/image/index/hover_cards/6_3.svg') alt='offer')
                                    .steps__hover-text.steps__hover-text_6.steps__hover-text_withoutBefore
                                        | Передача ключей от готового дома
        include ./../../components/promo-gallery/_promo-gallery
        include ./../../components/promo-blog/_promo-blog
        include ./../../components/footer/_footer
        //- section.calc
        //-     .container
        //-         .h-wrapper
        //-             .calc__header
        //-                 h2 Стоимость
        //-             .calc__subheader
        //-                 h3 Калькулятор расчета строительства дома
        //-                 p
        //-                 | Чтобы рассчитать стоимость строительства дома - выберите интересующие вас материалы и конструкции, нажмите кнопку "Рассчитать стоимость", и получите готовый расчет.
        //-         .calc__main
        //-             .calc__triangle
        //-             .calc__left
        //-                 .calc__logo
        //-                     img(src=require('./../../../assets/image/icons/logo.svg') alt='logotype')
        //-                 ul.calc__steps
        //-                     li.calc__item.calc__item_current
        //-                         .calc__check
        //-                             svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                                 path.check(d='M5.88628 11.1765L0.968628 6.25883L2.19804 5.02942L5.88628 8.71766L13.802 0.801971L15.0314 2.03138L5.88628 11.1765Z')
        //-                         .calc__title Вводные данные
        //-                     li.calc__item
        //-                         .calc__check
        //-                             svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                                 path.check(d='M5.88628 11.1765L0.968628 6.25883L2.19804 5.02942L5.88628 8.71766L13.802 0.801971L15.0314 2.03138L5.88628 11.1765Z')
        //-                         .calc__title Основные материалы
        //-                     li.calc__item
        //-                         .calc__check
        //-                             svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                                 path.check(d='M5.88628 11.1765L0.968628 6.25883L2.19804 5.02942L5.88628 8.71766L13.802 0.801971L15.0314 2.03138L5.88628 11.1765Z')
        //-                         .calc__title Второстепенные работы
        //-                     li.calc__item
        //-                         .calc__check
        //-                             svg(width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                                 path.check(d='M5.88628 11.1765L0.968628 6.25883L2.19804 5.02942L5.88628 8.71766L13.802 0.801971L15.0314 2.03138L5.88628 11.1765Z')
        //-                         .calc__title Дополнительно
        //-                 .calc__img
        //-                     img(src=require('./../../../assets/image/calc/draw_img.svg') alt='draw image')
        //-             .calc__right
        //-                 .calc__header
        //-                     h3 Вводные данные
        //-                 .calc__describe
        //-                     | Выберите нужные варианты и нажмите на кнопку "Далее" 

        //-                 .calc__inputs-area
        //-                     .calc__input
        //-                         label(for='m2') Укажите площадь дома
        //-                         input(type='text' required='' name='m2' placeholder='Площадь дома, м2')

        //-                     .calc__select
        //-                         | Выберите вариант
        //-                         .calc__label Геодезические исследования
        //-                         .calc__arrow
        //-                         .calc__sub
        //-                             .calc__option Проведены
        //-                             .calc__option Не проведены
        //-                             .calc__option Не включать в расчет

        //-                     .calc__select
        //-                         | Выберите вариант
        //-                         .calc__label Этажность дома
        //-                         .calc__arrow
        //-                         .calc__sub
        //-                             .calc__option 1 этаж
        //-                             .calc__option 2 этажа
        //-                             .calc__option 3 этажа

        //-                     .calc__select
        //-                         | Выберите вариант
        //-                         .calc__label Разработан ли проект дома
        //-                         .calc__arrow
        //-                         .calc__sub
        //-                             .calc__option Да
        //-                             .calc__option Нет
        //-                             .calc__option Не включать в расчет
        //-                 .calc__progress
        //-                 .calc__btn-wrapper
        //-                     button.btn.btn_calc
        //-                         | Далее
        //-                         svg(width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                             path(d='M10 12.5L8.6 11.05L12.15 7.5H0V5.5H12.15L8.6 1.95L10 0.5L16 6.5L10 12.5Z' fill='white')
            
        //- section.contacts
        //-     .container
        //-         .h-wrapper
        //-             .contacts__header
        //-                 h2 Контакты
        //-             .contacts__describe
        //-                 p
        //-                 | Свяжитесь с нами через социальные сети, почту или же заполните контактную форму на сайте и специалисты ответят на все интересующие Вас вопросы.
        //-     .frame
        //-         iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.9123707033277!2d30.41784107053765!3d50.45461506255575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd00fe23c3e1%3A0x13eaba593419bcdf!2z0JfQsNC10LfQtCDRh9C10YDQtdC3INGI0LjQvdC-0LzQsNC90YLQsNC2LCDRg9C7LiDQndC40LrQvtC70LDRjyDQktCw0YHQuNC70LXQvdC60L4sIDEsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1676134083160!5m2!1sru!2sua' width='100%' height='533' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')

        //-         .contacts__info
        //-             .contacts__item
        //-                 .contacts__img
        //-                     svg(width='18' height='26' viewBox='0 0 18 26' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                         path(fill-rule='evenodd' clip-rule='evenodd' d='M0.25 9.25C0.25 4.4125 4.1625 0.5 9 0.5C13.8375 0.5 17.75 4.4125 17.75 9.25C17.75 15.8125 9 25.5 9 25.5C9 25.5 0.25 15.8125 0.25 9.25ZM5.875 9.25C5.875 10.975 7.275 12.375 9 12.375C10.725 12.375 12.125 10.975 12.125 9.25C12.125 7.525 10.725 6.125 9 6.125C7.275 6.125 5.875 7.525 5.875 9.25Z' fill='#CAD1E1')
        //-                 .contacts__adress
        //-                     | Адрес отдела продаж:
        //-                     br
        //-                     | Киев, Николая Василенка, 1А
        //-             .contacts__item
        //-                 .contacts__img
        //-                     svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                         path(d='M5.275 10.4875C7.075 14.025 9.975 16.9125 13.5125 18.725L16.2625 15.975C16.6 15.6375 17.1 15.525 17.5375 15.675C18.9375 16.1375 20.45 16.3875 22 16.3875C22.6875 16.3875 23.25 16.95 23.25 17.6375V22C23.25 22.6875 22.6875 23.25 22 23.25C10.2625 23.25 0.75 13.7375 0.75 2C0.75 1.3125 1.3125 0.75 2 0.75H6.375C7.0625 0.75 7.625 1.3125 7.625 2C7.625 3.5625 7.875 5.0625 8.3375 6.4625C8.475 6.9 8.375 7.3875 8.025 7.7375L5.275 10.4875Z' fill='#CAD1E1')
        //-                 .contacts__adress
        //-                     | Тел. отдела продаж:
        //-                     br
        //-                     | +380 066 867 99 33
        //-             .contacts__item
        //-                 .contacts__img
        //-                     svg(width='26' height='20' viewBox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg')
        //-                         path(fill-rule='evenodd' clip-rule='evenodd' d='M3 0H23C24.375 0 25.5 1.125 25.5 2.5V17.5C25.5 18.875 24.375 20 23 20H3C1.625 20 0.5 18.875 0.5 17.5L0.5125 2.5C0.5125 1.125 1.625 0 3 0ZM13 11.25L23 5V2.5L13 8.75L3 2.5V5L13 11.25Z' fill='#CAD1E1')
        //-                 .contacts__adress
        //-                     | 3315406@gmail.com
            